* , *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 60px 0px;
    font-family: 'Times New Roman', Times, serif;
}

.section{
    display: block;
    margin: 0px auto;
    padding: 0px 10px;
    width: 70%;
    background-color: #ff000000;
    height: auto;
    border-radius: 30px;
    border: 2px solid #000000;
    
    & + .section{
        padding: 5px 20px;
        /* clear: both; */
        margin-top: 10px;
    }
}

.profile {
    float: left;
    width: 45%;
    height: auto;
    margin: -30px 10px 1px -30px;
    border-radius: 50px;
}

li{
    position: relative;
    padding: 1px 15px;
    list-style: none;

    /* &:first-child::before{
        display: inline-block;
        content: '';
        background-image: url(./static/jis.jpg);
        width: 20px;
        height: 20px;
        background-size: cover;
        
    } */
}

.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-icon{  
    width: 30px;
    height: 30px;
    background-size: cover;
    &:hover{
        transform: scale(1.2);
        transition: all 0.3s ease-in-out;
    }
}

#copyText{
    border: #00000000 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #00000033;
    display: none;
    position: absolute;
    bottom: 10px;
    left: auto;
    color: #000000;
    font-size: 16px;
}

#email-icon{
    cursor: pointer;
}


